* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-primary: "Poppins", sans-serif;
  --text-color: #b8c6dc;

  --bg-tbody: #171b26;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: #212837;
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2.5rem 0;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  height: 3.2rem;
  outline: none;
  background-color: #212837;
  border: 1px solid #b8c6dc;
  padding: 1rem;
  color: #fff;
  border-radius: 0.4rem 0 0 0.4rem;
}

.search button {
  height: 3.2rem;
  border: none;
  padding: 0 1rem;
  border-radius: 0 0.4rem 0.4rem 0;
  background-color: #c589e0;
  color: #fff;
  cursor: pointer;
}

.search button:hover {
  filter: brightness(1.1);
}

#git-search::placeholder {
  color: #b8c6dc62;
}

table {
  width: 100%;
  border-collapse: collapse;
  
  box-shadow: 0 1rem 2rem -1rem #fff;
}

table * {
  font-size: 1.4rem;
  color: var(--text-color);
  
}

table th {
  background-color: #c589e0;
  color: #fff;
  text-align: left;
  font-weight: normal;
  padding: 1.5rem;
}

table th:first-child {
  border-top-left-radius: .4rem;
}

table th:last-child {
  border-top-right-radius: .4rem;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

td.users {
  display: flex;
  align-items: center;
  gap: 1rem;
}



table tr:nth-child(even) {
  background-color: #1b1f29;
}

table tr:nth-child(odd) {
  background-color: #171b26;
}

td.users img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

td.users a {
  text-decoration: none;
}

td.users a p {
  font-weight: bold;
  
}

td.users a p:hover {
  color: #c589e0;
}

td .remove {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}
